body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  /* ФОН */
  background: url("background.jpg") no-repeat center center/cover;
}

/* затемнение как в Roblox */
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.55);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 120px; /* НЕ в самом верху */
}

/* ЛОГО */
.logo {
  font-size: 64px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

/* КНОПКИ */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* основная кнопка */
.main-btn {
  width: 260px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

/* кнопка с обводкой */
.outline-btn {
  width: 260px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* эффект при наведении */
button:hover {
  opacity: 0.85;
}
