* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;

    background: url('background.jpg') no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Главный экран */
.main {
    text-align: center;
}

/* Заголовок */
.title {
    font-size: 80px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
    text-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

/* Кнопки */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

button {
    width: 250px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* Войти */
.login {
    background: white;
    border: none;
}

/* Регистрация */
.register {
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* Окно формы */
.form-container {
    display: none;
    flex-direction: column;
    gap: 15px;

    background: #2f2f2f;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

/* Заголовок формы */
.form-container h2 {
    color: white;
}

/* Поля */
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

/* Кнопка отправки */
.submit {
    background: white;
    border: none;
}
